.calculator {
    width: 200px;
    margin: 0 auto;
    padding: 10px;
    background-color: #f1f1f1;
}

.calculator input[type="text"] {
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
}

.calculator table {
    width: 100%;
}

.calculator table td {
    padding: 5px;
}

.calculator button {
    width: 100%;
    padding: 10px;
    font-size: 18px;
}
